<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <li><a href={% url "create_account" %}>Create Account</a></li>
            <li><a href={% url "create_category" %}>Create Category</a></li>
            {% endif %}
        </nav>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href={% url "logout" %} >Login</a></li>
                {% else %}
                <li><a href={% url "signup" %} >Sign Up</a></li>
                <li><a href={% url "login" %} >Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for data in home %}
                <tr>
                    <td>{{ data.vendor }}</td>
                    <td>{{ data.total }}</td>
                    <td>{{ data.tax }}</td>
                    <td>{{ data.date|date:"m/d/y" }}</td>
                    <td>{{ data.category.name }}</td>
                    <td>{{ data.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
